body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape {
    font-family: "Signika Negative", sans-serif;
    width: 600px;
    background-color: #49d7456b;
    padding: 50px;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.paragraphClick {
    font-family: "Signika Negative", sans-serif;
    font-size: 30px;
    text-align: justify;
    color: green;
    background-color: #ffffff30;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}